/**
 * SVG Placeholder Images
 */

:root {
	--s0: 0;
	--s1: 0.375em;
	--s2: 0.75em;
	--s3: 1.5em;
	--s4: 3em;
	--space: 1.5em;
}

/**
 * Box Model
 */

*,
*:after,
*:before {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 100%;
	font-size: calc( 0.9375rem + 0.3125vw );
}

body {
	line-height: 1.5;
	font-size: 1rem;
	font-family: sans-serif;
	margin: 0;
	padding-block-start: 1.5em;
	padding-block-end: 3em;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

.stack > * + * {
	margin-block-start: var(--space, 0);
}

header, footer {
	max-inline-size: 32em;
	margin-inline-start: auto;
	margin-inline-end: auto;
	padding-inline-start: 0.75em;
	padding-inline-end: 0.75em;
	text-align: center;
}

.input-grid {
	display: grid;
	gap: 1.5em;
	grid-template-columns: repeat( auto-fill, minmax( 12em, 1fr ) );
}

.input-group > label {
	display: block;
	padding-block-end: 0.1875em;
}

.input-group > input[type=radio] + label,
.input-group > input[type=checkbox] + label {
	display: inline-block;
}

input[type=radio] {
	margin-inline-start: 0.375em;
	margin-block-start: 0.375em;
	margin-inline-end: 0.1875em;
}

input[type=number],
textarea,
fieldset {
	display: block;
	inline-size: 100%;
	max-inline-size: 100%;
	border: solid 0.125em #444444;
	border-radius: 0.1875em;
	padding: 0.375em;
}

input[type=color] {
	padding: 0;
	border: none;
	inline-size: 4em;
	block-size: 2em;
}

input[type=color]::-webkit-color-swatch-wrapper {
	padding: 0;
}

input[type=color]::-webkit-color-swatch {
	border: none;
}

fieldset {
	margin-block-start: var(--s3);
	margin-inline-start: 0;
	margin-inline-end: 0;
}

legend {
	padding-inline-start: var(--s1);
	padding-inline-end: var(--s1);
}

input, select, textarea {
	font-size: inherit;
	font-family: inherit;
	line-height: inherit;
}

textarea {
	resize: vertical;
}

main {
	display: flex;
	flex-wrap: wrap;
	max-inline-size: 100%;
}

main > section {
	margin-block-start: var(--s3);
	flex-basis: 32em;
	inline-size: 100%;
	max-inline-size: 32em;
	margin-inline-start: auto;
	margin-inline-end: auto;
	padding-inline-start: var(--s2);
	padding-inline-end: var(--s2);
}

svg {
	display: block;
}

.preview {
	inline-size: 100%;
	max-inline-size: 32em;
	max-block-size: 32em;
	overflow: auto;
}

.button {
	border: solid 0.125em #444444;
	border-radius: 0.1875em;
	cursor: pointer;
	color: #444444;
	background-color: #fff;
	padding: 0.5em 0.75em;
	font-size: inherit;
	font-family: inherit;
	line-height: 1;
	text-decoration: none;
}

.button[disabled] {
	cursor: initial;
	color: #444444;
	opacity: 0.625;
}

.button:active {
	transform: translateY(0.125em);
}

@keyframes loading {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.button.is-loaded:after {
	content: "";
	inline-size: 1em;
	block-size: 0.625em;
	float: right;
	margin-inline-start: 1ch;
	border-left: 0.25em solid currentColor;
	border-bottom: 0.25em solid currentColor;
	transform: rotate(-45deg);
	border-radius: 0;
	transition: border-radius 150ms linear;
}

@supports( float: inline-end ) {
	.button.is-loaded:after {
		float: inline-end;
	}
}

.button[aria-hidden=true] {
	display: none;
}

.download-button {
	display: none;
}

.download-button:link {
	display: inline-block;
}
